RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

Redirect 301 /portfolio  https://web-master-pro.ru/projects
Redirect 301 /dev  https://web-master-pro.ru/projects
Redirect 301 /projects/rgsu-student-portal https://layout.rgsu.pro/projects/student-lk/

# ErrorDocument 404 https://web-master-pro.ru/

